{
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "globals": {
    "assert": true
  },
  "rules": {
    "max-len": [0, 120],
    "no-else-return": 0,
    "import/prefer-default-export": 0
  }
}
